@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;

}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afb2bf;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #000814;
}

*::-webkit-scrollbar-thumb {
  background-color: #afb2bf;
  border-radius: 10px;
  visibility: hidden;
}

*:active::-webkit-scrollbar-thumb,
*:focus::-webkit-scrollbar-thumb,
*:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.bg {
  position: relative;
  background-image: url("./images/bg.jpg");
  background-position: center;
  background-size: cover;
  /* Apply blur effect */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}
